   
    <div class="container">
 
        <div class="col" style=" background: url(https://i.postimg.cc/3wnTZV47/Sem-t-tulo-cv-Mjv-CF08-transformed.jpg);  background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; height:100%;">
            <div class="col" style="background: rgba(59,59,79,0.9); display:flex; align-items:center; justify-content:center; align-content:center; margin-top: 20%;
  margin-left: 30%;
  margin-right: 30%;">
            <form action="/add", method="POST">
                <p>Nome: </p>
                    <input type="text" name="nome">
                    <p>Horario: </p>   
                <textarea name="horario"></textarea>
            <p><button type="submit">Cadastrar postagem </button></p>
            </form></div>
        </div>
        </div>