<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible">
		<title>Blazing Barbers</title> 

		<!-- Bootstrap -->

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

		<!-- Google Fonts -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

		<!-- Font Awesome -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- Font Lucida (Apple) -->

		<link href="https://db.onlinewebfonts.com/c/26c724b3b181aad246aa1321eaa9ea21?family=Lucida+Sans+Unicode" rel="stylesheet">

		<!-- Font Kanit -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">

		<!-- Style -->

		<link rel="stylesheet" href="css/styles.css">

	</head>	
<body>

<!-- Navbar -->
<nav class="shadow-sm navbar fixed-top navbar-expand-lg navbar-dark d-3p-m headerclr shift">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#" style="padding: 0; margin:0"><h6> <div><img src="https://i.postimg.cc/qvvYySr0/blzbr2.png" alt="Minha Figura" width="180" height="110" class="footer__logo"></div></h6></a>

    <!-- Toggle button -->
    <button
      type="button"
      class="navbar-toggler"
      data-bs-target="#navbarNav"
      data-bs-toggle="collapse"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle Navbar"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    	<div class="mx-auto"><p></div>
    	<ul class="navbar-nav">
    		<li class="nav-item"><a href="#" class="nav-link nav_link">Nossa Marca</a> </li>
    		<li class="nav-item"><a href="#" class="nav-link nav_link">Estilos de barba </a> </li>
    		<li class="nav-item"><a href="#" class="nav-link nav_link">Unidades </a> </li>
    		<li class="nav-item"><a href="/cad" class="nav-link nav_link">Agendamento </a> </li>
    		<li class="nav-item"><a href="#" class="nav-link nav_link">Mais </a> </li>
    	</ul>
    <div class="col-2">
							<ul class="footerwrappersocial__menu_list h4">
								<li><a> <span class="fa-brands fa-square-instagram" style="color: rgb(208,207,224);" > </span> </a></li>
								<li><a> <span class="fa-brands fa-facebook-f" style="color: rgb(208,207,224) "> </span> </a></li>
								<li><a> <span class="fa-brands fa-twitter" style="color: rgb(208,207,224)"> </span> </a></li>
							</ul>
						</div>
					</div>
				</nav>
	
<div class="mainsection"></div>


 
		<div id="root"></div>

	<div class="col" style=" background: url(https://i.postimg.cc/3wnTZV47/Sem-t-tulo-cv-Mjv-CF08-transformed.jpg); display:flex; flex-direction: column;     background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;">

	<div class="container d-flex">
		<div class="col-lg-6" style="background: rgba(59,59,79,0.9); padding: 120px;"><h2>Nossa Marca</h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsuma
			</div>
	
		</div>
			</div>




		<!-- Main Content Area -->
		<div class="container my-5 d-grip gap-5">
			<div class="p-5 border">
				<p>
					Lorem ipsum dolor sit ame	


				</p>
			</div>
		</div>


<!-- ínicio do rodapé com as cidades -->
					<div class=" main__footer-content">  
					 	<h6 class="footer__title"> Páginas principais </h6>	
					<div class="footer__content row justify-content-center" >
						
						<div class="footeregions__menu col-lg-4">
						<ul class="footeregions__menu_list">
							<li>
								<h6> Cidades principais do Brasil </h6>	
							</li> 
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> São Paulo</a></li>
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> Rio de Janeiro</a>
							</li>
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> Fortaleza</a></li>
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> Manaus</a></li>
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> Goiânia</a>
							</li>
							<li class=".footeregions__menu_list_item"> 
								<a class="footeregions__menu_list_item_link"> Salvador</a>
							</li>
						</ul>
					</div>

					
					<div class="footeregions__menu col-lg-4">
						<ul class="footeregions__menu_list"> 
							<li><h6> Principais pesquisas em Brasil </h6></li> 
							<li class="footeregions_menu_list"> 
								<a class="footeregions__menu_list_item_link"> Guarulhos</a>
								</li>
								<li class="footeregions_menu_list"> 
									<a class="footeregions__menu_list_item_link"> Distrito Federal</a>
								</li>
								<li class="footeregions_menu_list"> 
									<a class="footeregions__menu_list_item_link"> Fortaleza</a>
								</li>
								<li class="footeregions_menu_list"> 
									<a class="footeregions__menu_list_item_link"> Recife</a>
								</li>
								<li class="footeregions_menu_list"> 
									<a class="footeregions__menu_list_item_link"> Porto Alegre</a>
								</li>
								<li class="footeregions_menu_list"> 
									<a class="footeregions__menu_list_item_link"> Salvador</a>
								</li>
								</ul>
							</div>
						</div>	
					</div>
				</div>
			</div>


					<div class="footer__logo mb-2 d-flex">
						<!-- Redes Sociais -->
						<div class="col-6" style="height:0">
							<ul class="footerwrappersocial__menu_list col-4 h3 footer__social">
								<li><a> <span class="fa-brands fa-square-instagram" style="color: #4389bd;"> </span> </a></li>
								<li><a> <span class="fa-brands fa-facebook-f" style="color: #4389bd; "> </span> </a></li>
								<li><a> <span class="fa-brands fa-twitter" style="color: #4389bd;"> </span> </a></li>
							</ul>
						</div>

							<div class="col-4 footerwrapperother footeradjpos">
								Blazingbarbers.com, 2023</div>
						<div class="col-2 footerwrapperother" style="align-items:center; justify-content: center;">	
						<img src="https://img.freepik.com/free-vector/creative-gradient-code-logo_23-2148816024.jpg" class="footer__logopic" width="30%" height="30%"></div>
					</div> 


		<!-- Scripts -->

		<!-- Bootstrap -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

		<!-- Font Awesome -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<!-- Swiper -->

		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

		<!-- Script -->

		<script type="text/javascript" src="assets/script/script.js"></script>


		<!-- ReactJS -->

		<script crossorigin src="https://unpkg.com/react/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom/umd/react-dom.development.js">
		</script>
		<script src="assets/script/script.js"> </script>

	</body>
</html>